* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color: #f9f5ed;
 font-family: 'Dancing Script', cursive;
 font-family: 'Poppins', sans-serif;

}
nav {
    padding: 20px 10%;
    height: 15vh;
    
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
}

nav ul li img {
    width: 100px;

}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftmain {
    width: 40%;
}
.leftmain h1 {
    font-size: 60px;

}
.leftmain p {
    margin: 5% 0;
}
.leftmain button {
    padding: 15px 20px;
    color: #f9f5ed;
    background-color: #3b855b;
    font-size: 20px;
    border: none;
    font-weight: 600;
    border-radius: 10px;

}


